#navbar{
    background-color: rgb(48, 99, 126) !important;
}

#link{
    color: rgb(104,255,255) !important;
}

#menu{
    background-color: rgb(48, 99, 126) !important;
}

#links{
    color: rgb(104,255,255) !important;
}

#links:hover { 
    background-color: rgb(104,255,255) !important;
    color: rgb(48, 99, 126) !important;
} 